<div class="container">
    <div class="row top_space">
        <div class="application-heading">
            <!--Heading part-->
            <div class="st_heading">
                <h5>Browse by <strong>Application</strong></h5>
                <div class="hr_brand"></div>
            </div>
        </div>
        <div class="application-holder">
            <a class="nav-link" href="#"><i class="icon icon-st-industrial img-responsive" role="presentation"></i></a>
            <h6 class="text-center applicationtext">Industrial</h6>

        </div>
        <div class="application-holder borderleft">
            <a class="nav-link" href="#"><i class="icon icon-st-automotive img-responsive" role="presentation"></i></a>
            <h6 class="text-center applicationtext">Automotive</h6>
        </div>

        <div class="application-holder borderleft">
            <a class="nav-link" href="#"><i class="icon icon-st-electronics img-responsive" role="presentation"></i></a>
            <h6 class="text-center applicationtext">Personal Electronics</h6>
        </div>

        <div class="application-holder borderleft">
            <a class="nav-link" href="#"><i class="icon icon-st-computers img-responsive" role="presentation"></i></a>
            <h6 class="text-center applicationtext">Communications, Computers & Peripherals</h6>
        </div>

        <div class="application-holder borderleft">
            <a class="nav-link" href="#"><i class="icon icon-st-iot img-responsive" role="presentation"></i></a>
            <h6 class="text-center applicationtext">IoT Solutions</h6>
        </div>



    </div>

</div>
