<div class="custom-data-grid-top-wrapper">
                        <div class="table1-wrapper">
                            <div class="grid-shadow"></div>
                            <div class="stickyBackground"></div>
                            <table class="table1">
                                <thead>
                                    <tr style="height: auto;">
                                        <th>
                                            <div class="th-wrapper">
                                                <div class="sort-by-column"></div>
                                                <span>Part Number &amp; Description</span>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr class="border">
                                        <td>
                                            <div class="wrapperCell">
                                                <table class="leftCol">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" id="customCheck" name="customCheck">
                                                                    <label class="custom-control-label" for="customCheck"></label>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="prod-img-container">
                                                                    <div class="prod-img">
                                                                        <a href="#"><img src="/images/part-1.png"></a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="prod-desc">
                                                                    <h2><a href="#">BAT54AWFILMY</a></h2>
                                                                    <div class="title">Automotive small signal Schottky</div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table2-wrapper">
                            <div class="table2-inner-wrapper1">
                                <div class="table2-inner-div1">
                                </div>
                            </div>
                            <div class="table2-inner-wrapper2 table2-srp-grid">
                                <div class="table2-inner-div2">
                                    <table class="scrollable table2">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <div class="th-wrapper">
                                                        <div class="sort-by-column"></div>
                                                        <div class="dist-heading">
                                                            <a href="javascript:void(0)">Pricing I Quantity <i class="fa fa-sort-up fa-md"></i></a>
                                                        </div>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="th-wrapper">
                                                        <div class="sort-by-column"></div>
                                                        <div class="dist-heading">
                                                            <a href="javascript:void(0)">Package <i class="fa fa-sort-up fa-md"></i></a>
                                                        </div>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="th-wrapper">
                                                        <div class="sort-by-column"></div>
                                                        <div class="dist-heading">
                                                            <a href="javascript:void(0)">Number of Channels <i class="fa fa-sort-up fa-md"></i></a>
                                                        </div>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="th-wrapper">
                                                        <div class="sort-by-column"></div>
                                                        <div class="dist-heading">
                                                            <a href="javascript:void(0)">Operating Temperature (°C) min <i class="fa fa-sort-up fa-md"></i></a>
                                                        </div>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="th-wrapper">
                                                        <div class="sort-by-column"></div>
                                                        <div class="dist-heading">
                                                            <a href="javascript:void(0)">Operating Temperature (°C) max <i class="fa fa-sort-up fa-md"></i></a>
                                                        </div>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="th-wrapper">
                                                        <div class="sort-by-column"></div>
                                                        <div class="dist-heading">
                                                            <a href="javascript:void(0)">Supply Current per Channel (µA) typ <i class="fa fa-sort-up fa-md"></i></a>
                                                        </div>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="th-wrapper">
                                                        <div class="sort-by-column"></div>
                                                        <div class="dist-heading">
                                                            <a href="javascript:void(0)">Contact Current Rating (Max) <i class="fa fa-sort-up fa-md"></i></a>
                                                        </div>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="th-wrapper">
                                                        <div class="sort-by-column"></div>
                                                        <div class="dist-heading">
                                                            <a href="javascript:void(0)">Supply Voltage (V) min <i class="fa fa-sort-up fa-md"></i></a>
                                                        </div>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="th-wrapper">
                                                        <div class="sort-by-column"></div>
                                                        <div class="dist-heading">
                                                            <a href="javascript:void(0)">Connector Mounting Type <i class="fa fa-sort-up fa-md"></i></a>
                                                        </div>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>


                                            <tr class="right border">

                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>