<h1 class="card-header">Fonts Specification</h1>
<div class="card-body">
    <div class="headingCls">AvantGarde Normal</div>
    <div class="headingCls1">AvantGarde Italic</div>
    <div class="headingCls2">AvantGarde Bold</div>
    <div class="headingCls3">AvantGarde boldItalic</div>
    <hr />
    <div class="headingCls4">Helvetica Roman</div>
    <div class="headingCls5">Helvetica bold</div>
    <div class="headingCls6">Helvetica Medium</div>
    <div class="headingCls7">Helvetica Light</div>
    <hr />
    <div class="headingCls8">ITC Lubalin Light</div>
    <div class="headingCls9">ITC Lubalin Bold</div>
</div>
