<div class="container">

    <div class="row">
        <div class="col-sm-6">
            <div class="row" id="accordion">
                <div class="col-sm-4">
                    <div>
                        <div data-toggle="collapse" class="taber"  href="#collapseOne">
                            <h6 class="t-space"><b>About ST</b></h6>
                        </div>
                        <div id="collapseOne" class="collapse show" data-parent="#accordion">
                            <ul>
                                <li><a href="#">Who We Are</a></li>
                                <li><a href="#">Investor Relations</a></li>
                                <li><a href="#">ST Approach to substainablity</a></li>
                                <li><a href="#">Strategic Vision & Outlook</a></li>
                                <li><a href="#">Careers</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div>
                        <div class="taber" data-toggle="collapse"  href="#collapsetwo">
                            <h6 class="t-space"><b>Connect With Us</b></h6>
                        </div>
                        <div id="collapsetwo" class="collapse show" data-parent="#accordion">
                            <ul>
                                <li><a href="#">Contact Information</a></li>
                                <li><a href="#">Find Sale Force & Distributors</a></li>
                                <li><a href="#">Community</a></li>
                                <li><a href="#">News Center</a></li>
                                <li><a href="#">Events & Trainings</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div>
                        <div class="taber" data-toggle="collapse"  href="#collapsethree">
                            <h6 class="t-space"><b>Top Categories</b></h6>
                        </div>
                        <div id="collapsethree" class="collapse show" data-parent="#accordion">
                            <ul>
                                <li><a href="#">STM32 Family MCUs</a></li>
                                <li><a href="#">Pressure Sensors</a></li>
                                <li><a href="#">Soultions for Smart Home</a></li>
                                <li><a href="#">eDesign Suite</a></li>
                                <li><a href="#">Reference Design Library</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">

            <div class="row">
                <div class="col-sm-6">
                    <!-- <div class="accordianBorder">
                        <h6 class="t-space news"><b>Newsletter Sign Up</b></h6>
                        <div class="input-group ">
                            <input type="text" class="form-control newstextbox"  data-role="none" placeholder="Your Email Address">
                            <div class="input-group-append emailtxtbox">
                                <button class="btn btn-color" type="submit">Submit</button>
                            </div>
                        </div>
                    </div> -->
                    <div class="accordianBorder">
                        <h6 class="t-space follow"><b>Follow Us</b></h6>
                        <a href="#"><img src="../images/facebook.png" class="img-fluid"></a>
                        <a href="#"><img src="../images/twitter.png" class="img-fluid"></a>
                        <a href="#"><img src="../images/google-plus.png" class="img-fluid"></a>
                        <a href="#"><img src="../images/linkedin.png" class="img-fluid"></a>
                        <a href="#"><img src="../images/youtube.png" class="img-fluid"></a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h6 class="t-space latest"><b>Latest from ST</b></h6>
                    <div class="large-12 columns">
                        <div class="latestcarousel owl-carousel">
                            <div class="row">
                                <div class="col-5 col-sm-5">
                                    <img src="../images/footer-thumb.png" class="img-fluid">
                                </div>
                                <div class="col-7 col-sm-7 newscontainer">
                                    <span class="date">Oct 12, 2017</span>
                                    <span class="content">Win an Apple HomePad in SensorTile Design Contest</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-sm-5">
                                    <img src="../images/footer-thumb.png" class="img-fluid">
                                </div>
                                <div class="col-7 col-sm-7 newscontainer">
                                    <span class="date">Oct 12, 2017</span>
                                    <span class="content">Win an Apple HomePad in SensorTile Design Contest</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-sm-5">
                                    <img src="../images/footer-thumb.png" class="img-fluid">
                                </div>
                                <div class="col-7 col-sm-7 newscontainer">
                                    <span class="date">Oct 12, 2017</span>
                                    <span class="content">Win an Apple HomePad in SensorTile Design Contest</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-sm-5">
                                    <img src="../images/footer-thumb.png" class="img-fluid">
                                </div>
                                <div class="col-7 col-sm-7 newscontainer">
                                    <span class="date">Oct 12, 2017</span>
                                    <span class="content">Win an Apple HomePad in SensorTile Design Contest</span>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-strip">
    <div class="container">
        <p class="text-center newsbanner">All rights are reserved &copy; 2018 STMicroelectronics<br class="linkbreak"><a href="#" class="footerbottomlink text-center">Terms of use</a> | <a href="#" class=" footerlinks sales">Sales Terms & Conditions</a> | <a href="#" class=" footerlinks privacy">Privacy Policy</a> | <a href="#" class=" footerlinks sitemap">Sitemap</a></p>
    </div>
</div>
