<div class="container">
    <div class="row navigation-bar">
        <div class="col-5 col-md-2">
            <div class="nav-left">
                <div class="logo-container">
                    <i class="icon icon-st-handbar handbar" role="presentation">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M24 3c0-.6-.4-1-1-1H1c-.6 0-1 .4-1 1v2c0 .6.4 1 1 1h22c.6 0 1-.4 1-1V3zM24 11c0-.6-.4-1-1-1H1c-.6 0-1 .4-1 1v2c0 .6.4 1 1 1h22c.6 0 1-.4 1-1v-2zM24 19c0-.6-.4-1-1-1H1c-.6 0-1 .4-1 1v2c0 .6.4 1 1 1h22c.6 0 1-.4 1-1v-2z" />
                        </svg>
                    </i>
                    <a href="https://getbootstrap.com/docs/4.1/components/dropdowns/"><img src="../images/st-logo.png" class="brandlogo img-responsive" />
                        </a>
                       
                                <a href="#" class="eStore d-inline d-md-none">Store</a>
                            
                </div>

            </div>
        </div>
        <div class="col-7 col-md-10">
            <div class="nav-right clearfix mobileHead">
                <div class="cartItems  float-right">
                    <ul class="nav leftspace">
                        <li class="nav-item d-none d-md-block">
                            <a href="#" class="loginuser">Welcome,<br><span class="username">John Williams</span></a>
                        </li>
                        <li class="nav-item d-none d-md-block">
                                <a href="#" class="login">Login / Register</a>
                            </li>
                        <li class="nav-item d-none d-md-none megamenu-fw" role="rightnaveholder">
                            <a href="#"><span class="searchIcon" id="searchIcon">&nbsp;</span></a>

                            
                        </li>
                        
                        <li id="minicart" class="nav-item megamenu-fw" role="rightnaveholder">
                            <nav class="navbar bootsnav d-md-none">
                                <div class="attr-nav">
                                    <ul>
                                        <li class="dropdown">
                                            <a href="#" data-toggle="dropdown" role="button">
                                                <!-- <img src="../images/cart2.png" class="cartimg img-responsive"> -->
                                                <i class="icon icon-st-cart cartimg" role="presentation">
                                                        <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 78 78">															
															<circle cx="60.45" cy="72.15" r="5.85" class="cls-1"/>
															<path d="M38.3 61.7a3.9 3.9 0 1 0 0 7.8h42.9v3.9H38.3a7.8 7.8 0 0 1-2.11-15.31L20.24 14.9H11V11h12.48l7.2 19.5H89L77.3 61.7z" class="cls-1" transform="translate(-11 -11)"/>
															<circle cx="33.15" cy="72.15" r="5.85" class="cls-1"/>
														</svg>

                                                </i>
                                                <span class="itemCount">12</span>
                                            </a>
                                            <ul class="dropdown-menu cart-list animated fade-Out-Up">
                                                <li class="text-right"><span class="arrow"></span></li>
                                                <li>
                                                    <div class="heading">Showing 5 of 12 items</div>
                                                    <div class="clearfix">
                                                        <span class="partHeading">PART NUMBER</span>
                                                        <span class="partHeading text-right">PRICING</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <ul>
                                                        <li class="clearfix">
                                                            <div class="partNo"><img src="../images/part-1.png" /><span>BAT54AWFILMY</span></div>
                                                            <div class="pricing"><span class="price">$250</span><span class="total">Quantity 12</span></div>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <ul>
                                                        <li class="clearfix">
                                                            <div class="partNo"><img src="../images/part-1.png" /><span>BAT54AWFILMY</span></div>
                                                            <div class="pricing"><span class="price">$250</span><span class="total">Quantity 12</span></div>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <ul>
                                                        <li class="clearfix">
                                                            <div class="partNo"><img src="../images/part-1.png" /><span>BAT54AWFILMY</span></div>
                                                            <div class="pricing"><span class="price">$250</span><span class="total">Quantity 12</span></div>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <ul>
                                                        <li class="clearfix">
                                                            <div class="partNo"><img src="../images/part-1.png" /><span>BAT54AWFILMY</span></div>
                                                            <div class="pricing"><span class="price">$250</span><span class="total">Quantity 12</span></div>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <ul>
                                                        <li class="clearfix">
                                                            <div class="partNo"><img src="../images/part-1.png" /><span>BAT54AWFILMY</span></div>
                                                            <div class="pricing"><span class="price">$250</span><span class="total">Quantity 12</span></div>
                                                        </li>
                                                    </ul>
                                                </li>


                                                <li class="checkout">
                                                    <button class="">View Cart</button>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </li>

                    </ul>
                </div>
                <div class="globalSearch float-right ">
                    <button  class="btn allcategories d-none d-sm-inline " data-toggle="dropdown">
                        Search in Store&nbsp;
                        <i class="icon icon-st-downarrow" role="presentation">
                            <svg xmlns="http://www.w3.org/2000/svg" width="451.846" height="451.847" viewBox="0 0 451.846 451.847">
                                <path d="M345.441 248.292L151.154 442.573c-12.359 12.365-32.397 12.365-44.75 0-12.354-12.354-12.354-32.391 0-44.744L278.318 225.92 106.409 54.017c-12.354-12.359-12.354-32.394 0-44.748 12.354-12.359 32.391-12.359 44.75 0l194.287 194.284c6.177 6.18 9.262 14.271 9.262 22.366 0 8.099-3.091 16.196-9.267 22.373z"></path>
                            </svg>
                        </i>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Industrial</a>
                        <a class="dropdown-item" href="#">Automotive</a>
                        <a class="dropdown-item" href="#">Personal Electronics</a>
                        <a class="dropdown-item" href="#">Communication Equipment</a>
                        <a class="dropdown-item" href="#">IoT</a>
                        <a class="dropdown-item" href="#">All</a>
                    </div>
                    <input type="text" class="form-control" data-role="none" list="autosuggestion" placeholder="Enter Keywords,solution,applications or part number.">
                    <datalist id="autosuggestion">
                            <a href="#"><option value="Automotive Logic IC's"></a>
                            <a href="#"><option value="Logic IC's"></a>
                            <a href="#"><option value="Automotive IC's Logic"></a>
                            <a href="#"><option value="IC's AECQ100"></a>
                            <a href="#"><option value="TS-16949 IC's"></a>
                          </datalist>
                    <span class="searchIcon">&nbsp;</span>
                </div>

            </div>
        </div>

    </div>

</div>
