<!-- Modal -->
<div class="modal fade" id="modalPurchaseExperience" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title st_heading branding padding-none">
                    Select your payment mode to simplify purchase experience
                    <div class="hr_brand"></div>
                </div>
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>-->
            </div>
            <div class="modal-body">

                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio1">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="modal-title">PO number</div>
                                <div class="content">
                                    <p><strong>I am buying for my organisation.</strong></p>
                                    <p>You can purchase products which are under contract with your organisation.</p>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <span class="align-middle"><input type="text" class=""></span>
                            </div>
                        </div>
                    </label>
                </div>

                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio2">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="modal-title">Personal Credit Card</div>
                                <div class="content">
                                    <p><strong>I am buying for myself.</strong></p>
                                    <p>You can purchase any product available on the eStore and only resale pricing is applicable.</p>
                                </div>
                            </div>
                        </div>
                    </label>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
