<div class="container">
        <div class="brand">
                <span>Associated <strong>Products</strong></span>
                <div class="clearfix"><span id="counter" class="float-right"></span></div>
                <div class="hr_brand carthr_brand"></div> 
            </div>
            
        <div class="row topspace">
                <div class="large-12 columns">
                        <div class="owl-carousel owl-theme asso-carousel">
                            <div class="productPlaceHolder productscaro">
    
                                <div class="productSpec">
    
                                    <div class="stickerHolder">
                                        <span class="sticker freeSample float-left"></span>
    
    
                                    </div>
                                    <div class="productHolder"><img src="../images/p-1-copy.png" class="img-fluid" /></div>
                                    <div class="newproductlabel">NEW!</div>
                                    <div class="productName">BAT54AWFILMY</div>
                                    <div class="productDetails">Automotive small signal Schottky diodes</div>
    
                                </div>
                                <div class="priceSpec clearfix">
                                    <div class="price"><span>$0.40 - $10.00</span></div>
                                </div>
    
                                <div class="purchaseSpec clearfix">
                                    <div class="instock float-left">Stock 12367</div>
                                    <div class="buy float-left"><a href="/plp.html"><button type="submit" class="btn st-btn-primary">BUY </button></a></div>
                                </div>
                            </div>
    
    
    
                            <div class="productPlaceHolder productscaro">
    
                                <div class="productSpec">
                                    <div class="stickerHolder">
                                        <span class="sticker freeSample float-left"></span>
                                        
    
                                    </div>
                                    <div class="productHolder"><img src="../images/p-1-copy.png" class="img-fluid" /></div>
                                    <div class="newproductlabel">NEW!</div>
                                    <div class="productName">BAT54AWFILMY</div>
                                    <div class="productDetails">Automotive small signal Schottky diodes</div>
    
                                </div>
                                <div class="priceSpec clearfix">
                                    <div class="price"><span>$0.40 - $10.00</span></div>
                                </div>
                                <div class="purchaseSpec clearfix">
                                    <div class="instock float-left">Stock 12367</div>
                                    <div class="buy float-left"><a href="/plp.html"><button type="submit" class="btn st-btn-primary">BUY </button></a></div>
                                </div>
                            </div>
    
    
    
    
                            <div class="productPlaceHolder productscaro">
    
                                <div class="productSpec">
                                    <div class="stickerHolder">
    
                                        <span class="sticker freeSample float-left"></span>
    
                                    </div>
                                    <div class="productHolder"><img src="../images/p-1-copy.png" class="img-fluid" /></div>
                                    <div class="newproductlabel">NEW!</div>
                                    <div class="productName">BAT54AWFILMY</div>
                                    <div class="productDetails">Automotive small signal Schottky diodes</div>
    
                                </div>
                                <div class="priceSpec clearfix">
                                    <div class="price"><span>$0.40 - $10.00</span></div>
                                </div>
    
                                <div class="purchaseSpec clearfix">
                                    <div class="instock float-left">Stock 12367</div>
                                    <div class="buy float-left"><a href="/plp.html"><button type="submit" class="btn st-btn-primary">BUY </button></a></div>
                                </div>
                            </div>
    
                            <div class="productPlaceHolder productscaro">
                                    <div class="productSpec">
                                            <div class="productHolder"><img src="../images/p-1-copy.png" class="img-fluid" /></div>
                                            <div class="productName viewproname">BAT54AWFILMY</div>
                                            <div class="productDetails viewdetails">Automotive small signal Schottky diodes</div>
                                        </div>
                                       
            
                                        <div class="purchaseSpec clearfix">
                                            <div class="view"><button type="submit" class="btn">VIEW PRODUCTS(50)</button></div>
                                        </div>
                            </div>
    
                            <div class="productPlaceHolder productscaro">
    
                                <div class="productSpec">
                                    <div class="stickerHolder">
    
                                        <span class="sticker freeSample float-left"></span>
    
                                    </div>
                                    <div class="productHolder"><img src="../images/p-1-copy.png" class="img-fluid" /></div>
                                    <div class="newproductlabel"></div>
                                    <div class="productName">BAT54AWFILMY</div>
                                    <div class="productDetails">Automotive small signal Schottky diodes</div>
    
                                </div>
                                <div class="priceSpec clearfix">
                                    <div class="price"><span>$0.40 - $10.00</span></div>
                                </div>
    
                                <div class="purchaseSpec clearfix">
                                    <div class="instock float-left">Stock 12367</div>
                                    <div class="buy float-left"><a href="/plp.html"><button type="submit" class="btn st-btn-primary">BUY </button></a></div>
                                </div>
                            </div>
                            <div class="productPlaceHolder productscaro">
    
                                <div class="productSpec">
                                    <div class="stickerHolder">
    
                                        <!-- <span class="sticker new float-left"></span> -->
    
                                    </div>
                                    <div class="productHolder"><img src="../images/p-1-copy.png" class="img-fluid" /></div>
                                    <div class="newproductlabel"></div>
                                    <div class="productName">BAT54AWFILMY</div>
                                    <div class="productDetails">Automotive small signal Schottky diodes</div>
    
                                </div>
                                <div class="priceSpec clearfix">
                                    <div class="price"><span>$0.40 - $10.00</span></div>
                                </div>
    
                                <div class="purchaseSpec clearfix">
                                    <div class="instock float-left">Stock 12367</div>
                                    <div class="buy float-left"><a href="/plp.html"><button type="submit" class="btn  st-btn-primary">BUY </button></a></div>
                                </div>
                            </div>
                            <div class="productPlaceHolder productscaro">
    
                                    <div class="productSpec">
                                        <div class="stickerHolder">
        
                                            <!-- <span class="sticker new float-left"></span> -->
        
                                        </div>
                                        <div class="productHolder"><img src="../images/p-1-copy.png" class="img-fluid" /></div>
                                        <div class="newproductlabel">NEW!</div>
                                        <div class="productName">BAT54AWFILMY</div>
                                        <div class="productDetails">Automotive small signal Schottky diodes</div>
        
                                    </div>
                                    <div class="priceSpec clearfix">
                                        <div class="price"><span>$0.40 - $10.00</span></div>
                                    </div>
        
                                    <div class="purchaseSpec clearfix">
                                        <div class="instock float-left">Stock 12367</div>
                                        <div class="buy float-left"><a href="/plp.html"><button type="submit" class="btn  st-btn-primary">BUY </button></a></div>
                                    </div>
                                </div>
                                <div class="productPlaceHolder productscaro">
    
                                        <div class="productSpec">
                                            <div class="stickerHolder">
            
                                                <!-- <span class="sticker new float-left"></span> -->
            
                                            </div>
                                            <div class="productHolder"><img src="../images/p-1-copy.png" class="img-fluid" /></div>
                                            <div class="newproductlabel">NEW!</div>
                                            <div class="productName">BAT54AWFILMY</div>
                                            <div class="productDetails">Automotive small signal Schottky diodes</div>
            
                                        </div>
                                        <div class="priceSpec clearfix">
                                            <div class="price"><span>$0.40 - $10.00</span></div>
                                        </div>
            
                                        <div class="purchaseSpec clearfix">
                                            <div class="instock float-left">Stock 12367</div>
                                            <div class="buy float-left"><a href="/plp.html"><button type="submit" class="btn  st-btn-primary">BUY </button></a></div>
                                        </div>
                                    </div>
                                    
                        </div>
                    </div>
              </div>
    </div>

    <div class="container relatedcarousel">
            <div class="brand">
                    <span>Related <strong>Products</strong></span>
                    <div class="hr_brand hrwidth"></div>
                </div>
            <div class="row topspace">
                    <div class="large-12 columns">
                            <div class="owl-carousel owl-theme asso-carousel">
                                <div class="productPlaceHolder productscaro">
        
                                    <div class="productSpec">
        
                                        <div class="stickerHolder">
                                            <span class="sticker freeSample float-left"></span>
        
        
                                        </div>
                                        <div class="productHolder"><img src="../images/p-1-copy.png" class="img-fluid" /></div>
                                        <div class="newproductlabel">NEW!</div>
                                        <div class="productName">BAT54AWFILMY</div>
                                        <div class="productDetails">Automotive small signal Schottky diodes</div>
        
                                    </div>
                                    <div class="priceSpec clearfix">
                                        <div class="price"><span>$0.40 - $10.00</span></div>
                                    </div>
        
                                    <div class="purchaseSpec clearfix">
                                        <div class="instock float-left">Stock 12367</div>
                                        <div class="buy float-left"><a href="/plp.html"><button type="submit" class="btn st-btn-primary">BUY </button></a></div>
                                    </div>
                                </div>
        
        
        
                                <div class="productPlaceHolder productscaro">
        
                                    <div class="productSpec">
                                        <div class="stickerHolder">
                                            <!-- <span class="sticker freeSample float-right"></span> -->
                                            <!-- <span class="sticker new float-left"></span> -->
        
                                        </div>
                                        <div class="productHolder"><img src="../images/p-1-copy.png" class="img-fluid" /></div>
                                        <div class="newproductlabel">NEW!</div>
                                        <div class="productName">BAT54AWFILMY</div>
                                        <div class="productDetails">Automotive small signal Schottky diodes</div>
        
                                    </div>
                                    <div class="priceSpec clearfix">
                                        <div class="price"><span>$0.40 - $10.00</span></div>
                                    </div>
                                    <div class="purchaseSpec clearfix">
                                        <div class="instock float-left">Stock 12367</div>
                                        <div class="buy float-left"><a href="/plp.html"><button type="submit" class="btn st-btn-primary">BUY </button></a></div>
                                    </div>
                                </div>
        
        
        
        
                                <div class="productPlaceHolder productscaro">
        
                                    <div class="productSpec">
                                        <div class="stickerHolder">
        
                                            <span class="sticker freeSample float-left"></span>
        
                                        </div>
                                        <div class="productHolder"><img src="../images/p-1-copy.png" class="img-fluid" /></div>
                                        <div class="newproductlabel"></div>
                                        <div class="productName">BAT54AWFILMY</div>
                                        <div class="productDetails">Automotive small signal Schottky diodes</div>
        
                                    </div>
                                    <div class="priceSpec clearfix">
                                        <div class="price"><span>$0.40 - $10.00</span></div>
                                    </div>
        
                                    <div class="purchaseSpec clearfix">
                                        <div class="instock float-left">Stock 12367</div>
                                        <div class="buy float-left"><a href="/plp.html"><button type="submit" class="btn st-btn-primary">BUY </button></a></div>
                                    </div>
                                </div>
        
                                <div class="productPlaceHolder productscaro">
                                        <div class="productSpec">
                                                <div class="productHolder"><img src="../images/p-1-copy.png" class="img-fluid" /></div>
                                                <div class="productName viewproname">BAT54AWFILMY</div>
                                                <div class="productDetails viewdetails">Automotive small signal Schottky diodes</div>
                                            </div>
                                           
                
                                            <div class="purchaseSpec clearfix">
                                                <div class="view"><button type="submit" class="btn">VIEW PRODUCTS(50)</button></div>
                                            </div>
                                </div>
        
                                <div class="productPlaceHolder productscaro">
        
                                    <div class="productSpec">
                                        <div class="stickerHolder">
        
                                            <span class="sticker freeSample float-left"></span>
        
                                        </div>
                                        <div class="productHolder"><img src="../images/p-1-copy.png" class="img-fluid" /></div>
                                        <div class="newproductlabel"></div>
                                        <div class="productName">BAT54AWFILMY</div>
                                        <div class="productDetails">Automotive small signal Schottky diodes</div>
        
                                    </div>
                                    <div class="priceSpec clearfix">
                                        <div class="price"><span>$0.40 - $10.00</span></div>
                                    </div>
        
                                    <div class="purchaseSpec clearfix">
                                        <div class="instock float-left">Stock 12367</div>
                                        <div class="buy float-left"><a href="/plp.html"><button type="submit" class="btn st-btn-primary">BUY </button></a></div>
                                    </div>
                                </div>
                                <div class="productPlaceHolder productscaro">
        
                                    <div class="productSpec">
                                        <div class="stickerHolder">
        
                                            <!-- <span class="sticker new float-left"></span> -->
        
                                        </div>
                                        <div class="productHolder"><img src="../images/p-1-copy.png" class="img-fluid" /></div>
                                        <div class="newproductlabel">NEW!</div>
                                        <div class="productName">BAT54AWFILMY</div>
                                        <div class="productDetails">Automotive small signal Schottky diodes</div>
        
                                    </div>
                                    <div class="priceSpec clearfix">
                                        <div class="price"><span>$0.40 - $10.00</span></div>
                                    </div>
        
                                    <div class="purchaseSpec clearfix">
                                        <div class="instock float-left">Stock 12367</div>
                                        <div class="buy float-left"><a href="/plp.html"><button type="submit" class="btn  st-btn-primary">BUY </button></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                  </div>
        </div>
        
    