<ul class="nav plptab" id="pills-tab">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="pill" href="#keyfeaturetab" role="tab">Technical Specification</a>
          <div class="tabactive"></div>
        </li>
        <li class="nav-item">
          <a class="nav-link " data-toggle="pill" href="#accosiatetab" role="tab" >Associated Products</a>
          <div class="tabactive"></div>
        </li>
        <li class="nav-item">
          <a class="nav-link"  data-toggle="pill" href="#recenttab" role="tab" >Related Products</a>
          <div class="tabactive"></div>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
<div class="container tab-pane active show" id="keyfeaturetab">
        <div class="row" id="featureaccordion">
        <div class="col-12 col-md-4 ">
            <div class="row">
                <div class="col-12 col-sm-10">
                    
                      <div class="brand taber" data-toggle="collapse"  href="#feature1">
                              <span>Key<strong> Features</strong></span>
                              <div class="hr_brand"></div>
                          </div>
                      <div class="featurelist collapse show" id="feature1" data-parent="#featureaccordion">
                          <ul>
                              <li>Propagation delay :38 ns</li>
                              <li>Low current comsumption :73 &mu;A</li>
                              <li>Rall-to-rall inputs</li>
                              <li> Push-pull outputs</li>
                              <li> Supply Operation from 1.8 to 5 V</li>
                              <li> Wide temparature range: -40 <sup>o</sup>C to 125<sup>o</sup>C</li>
                              <li>High ESD tolerance :5kV HBM ,300V MM</li>
                              <li>Latch-up Immunity :200mA</li>
                              <li>SMD packages</li>
                              <li class="noborder">Automotive qualifiaction</li>
                          </ul>
                  </div>
              </div>
              </div>
        </div>
        
        <div class="col-12  col-sm-8 col-md-8 ">
                              <div class="row">
                                      <div class="d-none d-sm-inline col-sm-1"></div> 
                                      <div class="col-12 col-sm-11"> 
                                              <div class="brand lspace taber" data-toggle="collapse"  href="#feature2">
                                                  <span>Key<strong> Spec</strong></span>
                                                  <div class="hr_brand width"></div>
                                              </div>
                                              <div class="speclist collapse show" id="feature2" data-parent="#featureaccordion">
                                                  <ul>
                                                          <li>
                                                              <div class="row pad0">
                                                                      <div class=" col-12 col-sm-5 headingcolor mar1"><b>Parameter Name</b></div>
                                                                      <div class="col-12 col-sm-6 headingcolor mar2 "><b>Parameter Type</b></div>
                                                              </div>
                                                          </li>
                                                          <li>
                                                              <div class="row pad0">
                                                                  <div class="col-12 col-sm-5 mar1">Package</div>
                                                                  <div class=" col-12 col-sm-6 mar2">SC70-5</div>
                                                              </div>
                                                          </li>
                                                          <li>
                                                              <div class="row pad0">
                                                                      <div class="col-12 col-sm-5 mar1">Package Type</div>
                                                                      <div class=" col-12 col-sm-6 mar2">Tape And Reel</div>
                                                              </div>
                                                          </li>
                                                          <li>
                                                              <div class="row pad0">
                                                                      <div class="col-12 col-sm-5 mar1">Operating Temparature (<sup>o</sup>C)(min)</div>
                                                                      <div class=" col-12 col-sm-6 mar2">125</div>
                                                              </div>
                                                          </li>
                                                          <li>
                                                              <div class="row pad0">
                                                                  <div class="col-12 col-sm-5 mar1">Operating Temparature (<sup>o</sup>C)(max)</div>
                                                                  <div class=" col-12 col-sm-6 mar2">250</div>
                                                              </div>
                                                          </li>
                                                          <li>
                                                              <div class="row pad0">
                                                                      <div class="col-12 col-sm-5 mar1">ECCN (US)</div>
                                                                      <div class=" col-12 col-sm-6 mar2">EAR99</div>
                                                              </div>
                                                          </li>
                                                          <li>
                                                              <div class="row pad0">
                                                                      <div class="col-12 col-sm-5 mar1">Country of Origin</div>
                                                                      <div class=" col-12 col-sm-6 mar2">MALAYSIA</div>
                                                              </div>
                                                          </li>
                                                          <li>
                                                                  <div class="row pad0">
                                                                          <div class="col-12 col-sm-5 mar1">ECCN (US)</div>
                                                                          <div class=" col-12 col-sm-6 mar2">EAR99</div>
                                                                  </div>
                                                              </li>
                                                              <li>
                                                                  <div class="row pad0">
                                                                          <div class="col-12 col-sm-5 mar1">Country of Origin</div>
                                                                          <div class=" col-12 col-sm-6 mar2">MALAYSIA</div>
                                                                  </div>
                                                              </li>
                                                  </ul>
                                              </div>
                                       </div>
                                  </div>
        </div>  
        </div>
  </div>
  
  <div class="container tab-pane fade  " id="accosiatetab" >
        
        <div class="row topspace">
                <div class="large-12 columns">
                        <div class="owl-carousel owl-theme asso-carouselv2">
                           <a href="#"> <div class="productPlaceHolder productstab">
    
                                <div class="productSpec productabspec">
    
                                    <div class="productHolder tabholder"><img src="../images/p-1-copy.png" class="img-fluid" /></div>
                                    <div class="productName">BAT54AWFILMY</div>
                                    <div class="productDetails productab">Automotive small signal Schottky diodes</div>
    
                                </div>
                            </div></a>
    
    
    
                            <a href="#"> <div class="productPlaceHolder productstab">
    
                                <div class="productSpec productabspec">
                                    
                                    <div class="productHolder tabholder"><img src="../images/p-1-copy.png" class="img-fluid" /></div>
                                    <div class="productName">BAT54AWFILMY</div>
                                    <div class="productDetails productab">Automotive small signal Schottky diodes</div>
    
                                </div>
                            </div></a>
    
    
    
    
                            <a href="#"> <div class="productPlaceHolder productstab">
    
                                <div class="productSpec productabspec">
                            
                                    <div class="productHolder tabholder"><img src="../images/p-1-copy.png" class="img-fluid" /></div>
                                    <div class="productName">BAT54AWFILMY</div>
                                    <div class="productDetails productab">Automotive small signal Schottky diodes</div>
    
                                </div>
                               
                            </div></a>
    
                            <a href="#"> <div class="productPlaceHolder productstab">
    
                                <div class="productSpec productabspec">
                                    
                                    <div class="productHolder tabholder"><img src="../images/p-1-copy.png" class="img-fluid" /></div>
                                    <div class="productName">BAT54AWFILMY</div>
                                    <div class="productDetails productab">Automotive small signal Schottky diodes</div>
    
                                </div>
                                
                            </div></a>
                            <a href="#"><div class="productPlaceHolder productstab">
    
                                <div class="productSpec productabspec">
                                   
                                    <div class="productHolder tabholder"><img src="../images/p-1-copy.png" class="img-fluid" /></div>
                                    <div class="productName">BAT54AWFILMY</div>
                                    <div class="productDetails productab">Automotive small signal Schottky diodes</div>
    
                                </div>
                               
                            </div></a>
                            <a href="#"><div class="productPlaceHolder productstab">
    
                                    <div class="productSpec productabspec">
                                       
                                        <div class="productHolder tabholder"><img src="../images/p-1-copy.png" class="img-fluid" /></div>
                                        <div class="productName">BAT54AWFILMY</div>
                                        <div class="productDetails productab">Automotive small signal Schottky diodes</div>
        
                                    </div>
                                   
                                </div></a>
                                <div class="productPlaceHolder productstab">
    
                                        <div class="productSpec productabspec">
                                           
                                            <div class="productHolder tabholder"><img src="../images/p-1-copy.png" class="img-fluid" /></div>
                                            <div class="productName">BAT54AWFILMY</div>
                                            <div class="productDetails productab">Automotive small signal Schottky diodes</div>
            
                                        </div>
                                       
                                    </div>
                                    <div class="productPlaceHolder productstab">
    
                                            <div class="productSpec productabspec">
                                               
                                                <div class="productHolder tabholder"><img src="../images/p-1-copy.png" class="img-fluid" /></div>
                                                <div class="productName">BAT54AWFILMY</div>
                                                <div class="productDetails productab">Automotive small signal Schottky diodes</div>
                
                                            </div>
                                           
                                        </div>
                                        <div class="productPlaceHolder productstab">
    
                                                <div class="productSpec productabspec">
                                                   
                                                    <div class="productHolder tabholder"><img src="../images/p-1-copy.png" class="img-fluid" /></div>
                                                    <div class="productName">BAT54AWFILMY</div>
                                                    <div class="productDetails productab">Automotive small signal Schottky diodes</div>
                    
                                                </div>
                                               
                                            </div>
                        </div>
                    </div>
              </div>
    </div>

    <div class="container tab-pane fade" id="recenttab">
            
            <div class="row topspace">
                    <div class="large-12 columns">
                            <div class="owl-carousel owl-theme asso-carouselv2">
                                    <div class="productPlaceHolder productstab">
            
                                        <div class="productSpec productabspec">
            
                                            <div class="productHolder tabholder"><img src="../images/p-1-copy.png" class="img-fluid" /></div>
                                            <div class="productName">BAT54AWFILMY</div>
                                            <div class="productDetails productab">Automotive small signal Schottky diodes</div>
            
                                        </div>
                                    </div>
            
            
            
                                    <div class="productPlaceHolder productstab">
            
                                        <div class="productSpec productabspec">
                                            
                                            <div class="productHolder tabholder"><img src="../images/p-1-copy.png" class="img-fluid" /></div>
                                            <div class="productName">BAT54AWFILMY</div>
                                            <div class="productDetails productab">Automotive small signal Schottky diodes</div>
            
                                        </div>
                                    </div>
            
            
            
            
                                    <div class="productPlaceHolder productstab">
            
                                        <div class="productSpec productabspec">
                                    
                                            <div class="productHolder tabholder"><img src="../images/p-1-copy.png" class="img-fluid" /></div>
                                            <div class="productName">BAT54AWFILMY</div>
                                            <div class="productDetails productab">Automotive small signal Schottky diodes</div>
            
                                        </div>
                                       
                                    </div>
            
                                    <div class="productPlaceHolder productstab">
            
                                        <div class="productSpec productabspec">
                                            
                                            <div class="productHolder tabholder"><img src="../images/p-1-copy.png" class="img-fluid" /></div>
                                            <div class="productName">BAT54AWFILMY</div>
                                            <div class="productDetails productab">Automotive small signal Schottky diodes</div>
            
                                        </div>
                                        
                                    </div>
                                    <div class="productPlaceHolder productstab">
            
                                        <div class="productSpec productabspec">
                                           
                                            <div class="productHolder tabholder"><img src="../images/p-1-copy.png" class="img-fluid" /></div>
                                            <div class="productName">BAT54AWFILMY</div>
                                            <div class="productDetails productab">Automotive small signal Schottky diodes</div>
            
                                        </div>
                                       
                                    </div>
                                    <div class="productPlaceHolder productstab">
            
                                            <div class="productSpec productabspec">
                                               
                                                <div class="productHolder tabholder"><img src="../images/p-1-copy.png" class="img-fluid" /></div>
                                                <div class="productName">BAT54AWFILMY</div>
                                                <div class="productDetails productab">Automotive small signal Schottky diodes</div>
                
                                            </div>
                                           
                                        </div>
                                        <div class="productPlaceHolder productstab">
            
                                                <div class="productSpec productabspec">
                                                   
                                                    <div class="productHolder tabholder"><img src="../images/p-1-copy.png" class="img-fluid" /></div>
                                                    <div class="productName">BAT54AWFILMY</div>
                                                    <div class="productDetails productab">Automotive small signal Schottky diodes</div>
                    
                                                </div>
                                               
                                            </div>
                                            <div class="productPlaceHolder productstab">
            
                                                    <div class="productSpec productabspec">
                                                       
                                                        <div class="productHolder tabholder"><img src="../images/p-1-copy.png" class="img-fluid" /></div>
                                                        <div class="productName">BAT54AWFILMY</div>
                                                        <div class="productDetails productab">Automotive small signal Schottky diodes</div>
                        
                                                    </div>
                                                   
                                                </div>
                                                <div class="productPlaceHolder productstab">
            
                                                        <div class="productSpec productabspec">
                                                           
                                                            <div class="productHolder tabholder"><img src="../images/p-1-copy.png" class="img-fluid" /></div>
                                                            <div class="productName">BAT54AWFILMY</div>
                                                            <div class="productDetails productab">Automotive small signal Schottky diodes</div>
                            
                                                        </div>
                                                       
                                                    </div>
                                </div>
                        </div>
                  </div>
        </div>
        
    </div>
