<div class="d-block d-sm-none" id="filetrDivMobile">
        <i class="icon icon-st-productFilterIcon" role="presentation">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 459 459">
                    <path d="M178.5 382.5h102v-51h-102v51zM0 76.5v51h459v-51H0zM76.5 255h306v-51h-306v51z"/>
                </svg>
            </i>
    FILTER
</div>
<div class="container producttitle">
        <h5 class="productsheading">LM2903<span class="productscount"> (03 PRODUCTS)</span></h5>
       </div>
       <div class="d-sm-none productFilterButton"><button class="btn st-btn-primary-1 filterButton" id="cancelFilterButton">CANCEL</button><button class="btn st-btn-primary-1 filterButton">APPLY</button></div>
       <div class="d-sm-none border-bottom filterExpandSection">
            <div class="filterheading filterheadingAll">
                    <span class="filterExpandAll">EXPAND ALL</span>
                    <span class="filterCollapseAll">COLLAPSE ALL</span>
                    <span class="filterclearAll" id="clear">CLEAR ALL</span>
                </div>
       </div>
        <div class="container filtersection" id="producutFilter">
           <div class="filterarea" id="accordion">
               <div class="filtercontent">
                  <div class="filterheading">
                      <span class="filterinfo"><a data-toggle="collapse" class="filterinfoTitle" href="#packageCollapse">PACKAGE</a></span>
                      <span class="d-none d-sm-inline filterclear" id="clear">CLEAR</span>
                  </div>
                  <div class="collapse show filterset border" id="packageCollapse" data-parent="#accordion">
                      <form id="packageset" action="#" method="post">
                   <div class="custom-control custom-checkbox  m-3">
                       <input type="checkbox" class="custom-control-input" id="package1" name="package1">
                       <label class="custom-control-label" for="package1">SOT23-5L</label>
                     </div>
                     <div class="custom-control custom-checkbox  m-3">
                       <input type="checkbox" class="custom-control-input" id="package2" name="package2">
                       <label class="custom-control-label" for="package2">SO-8</label>
                     </div>
                     <div class="custom-control custom-checkbox  m-3">
                            <input type="checkbox" class="custom-control-input" id="package3" name="package3">
                            <label class="custom-control-label" for="package3">SC70-5</label>
                          </div>
                     <div class="custom-control custom-checkbox  m-3">
                       <input type="checkbox" class="custom-control-input" id="package4" name="package4">
                       <label class="custom-control-label" for="package4">SC70-5</label>
                     </div>
                     <div class="custom-control custom-checkbox  m-3">
                       <input type="checkbox" class="custom-control-input" id="package5" name="package5">
                       <label class="custom-control-label" for="package5">MSOP/TSSOP-8</label>
                     </div> 
                   </form>
               </div> 
               </div>
               <div class="filtercontent">
                   <div class="filterheading">
                       <span class="filterinfo"><a data-toggle="collapse" class="filterinfoTitle" href="#packageTypeCollapse">PACKAGE TYPE</a></span>
                       <span class="d-none d-sm-inline filterclear" id="packageclear">CLEAR</span>
                   </div>
                   <div class="collapse show filterset border" id="packageTypeCollapse" data-parent="#accordion">
                           <form id="packagetypeset" action="#" method="post" >
                       <div class="custom-control custom-checkbox  m-3">
                           <input type="checkbox" class="custom-control-input" id="packaget1" name="packaget1">
                           <label class="custom-control-label" for="packaget1">SOT23-5L</label>
                         </div>
                         <div class="custom-control custom-checkbox  m-3">
                           <input type="checkbox" class="custom-control-input" id="packaget2" name="packaget2">
                           <label class="custom-control-label" for="packaget2">SO-8</label>
                         </div>
                         <div class="custom-control custom-checkbox  m-3">
                                <input type="checkbox" class="custom-control-input" id="packaget3" name="packaget3">
                                <label class="custom-control-label" for="packaget3">SC70-5</label>
                              </div>
                         <div class="custom-control custom-checkbox  m-3">
                           <input type="checkbox" class="custom-control-input" id="packaget4" name="packaget4">
                           <label class="custom-control-label" for="packaget4">SC70-5</label>
                         </div>
                         <div class="custom-control custom-checkbox  m-3">
                           <input type="checkbox" class="custom-control-input" id="packaget5" name="packaget5">
                           <label class="custom-control-label" for="packaget5">MSOP/TSSOP-8</label>
                         </div>
                         </form>
                   </div> 
               </div>
               <div class="filtercontent ">
                   <div class="filterheading">
                       <span class="filterinfo"><a data-toggle="collapse" class="filterinfoTitle" href="#slider">TEMPARATURE RANGE</a></span>
                       <span class="filterclear" id="rangeclear">CLEAR</span>
                   </div> 
                   <div class="collapse show filterset border tempretureRangeCollapse" id="slider" data-parent="#accordion">
                       
                       <form class="mt-4" id="tempatureform">
                       <div data-role="rangeslider">
                            <div class="row">
                                <div class="col-sm-9 offset-sm-1 mb-3">
                                <input type="range" name="temp-min" id="temp-min" class="temptext" value="0" min="0" max="300">
                                </div>
                                <div class="col-sm-2">
                                <span class="degreeclass"><sup>o</sup>C</span>
                                </div>
                            </div>
                            <div class="row">
                            <div class="col-sm-9 offset-sm-1 ">
                            <input type="range" name="temp-max" id="temp-max" class="temptext" value="300" min="0" max="300">
                            </div>
                            <div class="col-sm-2">
                            <span class="degreeclass"><sup>o</sup>C</span>
                            </div>
                        </div>

                          </div>
                    
                   
                </form>
               </div>
               </div>
               <!--
               <div class="filtercontent ">
                   <div class="filterheading">
                       <span class="filterinfo"><a data-toggle="collapse" href="#rohsComplaintCollapse">ROHS COMPLAINT</a></span>
                       <span class="filterclear" id="clear">CLEAR</span>
                   </div> 
                   <div class="filterset border">
       
                   </div>
               </div> -->
               <div class="filtercontent" id="rohsComplaintCollapse" data-parent="#accordion">
                   <div class="filterheading">
                       <span class="filterinfo"><a data-toggle="collapse" class="filterinfoTitle" href="#sortByFilter">SORT BY</a></span>
                       <span class="d-none d-sm-inline filterclear" id="sortclear">CLEAR</span>
                   </div> 
                   <div class="collapse show filterset border" id="sortByFilter" data-parent="#accordion">
                           <form id="sortbyset" action="#" method="post">
                       <div class="custom-control custom-radio m-3">
                           <input type="radio" class="custom-control-input" id="sort1" name="sort">
                           <label class="custom-control-label radiobtn" for="sort1">A-Z</label>
                         </div>
                         <div class="custom-control custom-radio m-3">
                           <input type="radio" class="custom-control-input" id="sort2" name="sort">
                           <label class="custom-control-label radiobtn" for="sort2">Z-A</label>
                         </div>
                         <div class="custom-control custom-radio m-3">
                               <input type="radio" class="custom-control-input" id="sort3" name="sort">
                               <label class="custom-control-label radiobtn" for="sort3">Free Sample</label>
                             </div>
                             <div class="custom-control custom-radio m-3">
                                   <input type="radio" class="custom-control-input" id="sort4" name="sort">
                                   <label class="custom-control-label radiobtn" for="sort4">New</label>
                                 </div>
                                 <div class="custom-control custom-radio m-3">
                                       <input type="radio" class="custom-control-input" id="sort5" name="sort">
                                       <label class="custom-control-label radiobtn" for="sort5">Price:High to Low</label>
                                     </div>
                                   </form>
                   </div>
               </div>
               
           </div>
           </div>
           <div class="container-fulid">
           <!--<hr/>-->
       </div>
       <script src="./vendor/jquery/jquery.mobile-1.4.5.min.js"></script>
       <script>
       
        

 </script>