
    <div class="product-detail-widget">
        <div class="row">
                <div class="col-12 col-sm-8">
                    <div class="productSpecWidget">
                        <div class="sticker">
                            <span class="new"></span>
                        </div>
                        <div class="row">
                            <div class="col-4 col-sm-3">
                                <img src="../images/productImg.png" alt="" />
                            </div>
                            <div class="col-8 col-sm-9">
                                <div class="productModel clearfix"><span class="heading">LM2903DT</span>
                                    <img src="../images/freesample.png" />
                                    <span class="productStatus"><span class="activeMark"></span>
                                    <span class="activeText">ACTIVE</span>
                                </div>
                                <div class="modelDesc">Low power dual voltage comprator</div>
                            </div>
                            <div class="col-12 col-sm-9 offset-sm-3 pusher">
                                <div class="packagingDesc row"><div class="packaging">PACKAGING: <span>SO-8</span></div><span class="separator">|</span> <div class="packagingType"> PACKAGING TYPE: <span>24/VQFN</span></div></div>
                                <div class="pricePerUnit">
<!--                                         
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                            <span class="caption">QUANTITY:</span>
                                                    </div>
                                                    <div class="col-sm-12">
                                                            <span class="caption">PRICE/UNIT:</span>
                                                    </div>
                                                </div>
                                           
                                    <div class="row">
                                            <div class="large-12 columns">
                                                    <div class="quantitycarousel owl-carousel">
                                        <div class="col-sm-2">
                                        <div class="row">
                                                <div class="col-sm-12 borderRight">
                                                        <span class="quantityBox quantityBoxWidth">1-9</span>
                                                </div>
                                                <div class="col-sm-12 borderRight">
                                                        <span>$ 70.00</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                                <div class="row">
                                                        <div class="col-sm-12 borderRight">
                                                                <span class="quantityBox quantityBoxWidth">10-99</span>
                                                        </div>
                                                        <div class="col-sm-12 borderRight">
                                                                <span>$ 68.56</span>
                                                        </div>
                                                    </div>
                                            </div>
                                            <div class="col-sm-2">
                                                    <div class="row">
                                                            <div class="col-sm-12 borderRight">
                                                                    <span class="quantityBox quantityBoxWidth">100-299</span>
                                                            </div>
                                                            <div class="col-sm-12 borderRight">
                                                                    <span>$ 63.94</span>
                                                            </div>
                                                        </div>
                                                </div>
                                                <div class="col-sm-2">
                                                        <div class="row">
                                                                <div class="col-sm-12 borderRight">
                                                                        <span class="quantityBox quantityBoxWidth">300-499</span>
                                                                </div>
                                                                <div class="col-sm-12 borderRight">
                                                                        <span>$ 59.99</span>
                                                                </div>
                                                            </div>
                                                    </div>
                                                    <div class="col-sm-2">
                                                            <div class="row">
                                                                    <div class="col-sm-12 ">
                                                                            <span class="quantityBox quantityBoxWidth">500+</span>
                                                                    </div>
                                                                    <div class="col-sm-12">
                                                                           <a href="#">REQUEST FOR QUOTATION</a></span>
                                                                    </div>
                                                                </div>
                                                        </div>
                                            </div></div>
                                        </div> -->
                                        <div class="row">
                                                <div class="col1"><span class="caption">QUANTITY:</span></div>
                                                <div class="col2 borderRight"><span class="quantityBox quantityBoxWidth">1-9</span></div>
                                                <div class="col3 borderRight"><span class="quantityBox quantityBoxWidth">10-99</span></div>
                                                <div class="col4 borderRight"><span class="quantityBox quantityBoxWidth">100-299</span></div>
                                                <div class="col5 borderRight"><span class="quantityBox quantityBoxWidth">300-499</span></div>
                                                <div class="col6"><span class="quantityBox quantityBoxWidth">500+</span></div>
                                            </div>
                                            <div class="row">
                                                <div class="col1"><span class="caption">PRICE/UNIT:</span></div>
                                                <div class="col2 borderRight"><span>$ 70.00</span></div>
                                                <div class="col3 borderRight"><span>$ 68.56</span></div>
                                                <div class="col4 borderRight"><span>$ 63.94</span></div>
                                                <div class="col5 borderRight"><span>$ 59.99</span></div>
                                                <div class="col6"><span><a href="#">REQUEST FOR QUOTATION</a></span></div>
                                            </div>
                                       
                                </div>
                                <div class="downloadSectionHeading">
                                    Download Material
                                </div>
                                <div class="downloadSection">
                                    <div class="row">
                                        <div class="part1">
                                                <a href="#" class="">
                                                        <i class="icon icon-st-download" role="presentation">
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 480">
                                                                <path d="M378.528 214.688l-21.088-24c-5.824-6.624-15.904-7.264-22.56-1.472L272 244.32V16c0-8.832-7.168-16-16-16h-32c-8.832 0-16 7.168-16 16v228.32l-62.88-55.104c-6.624-5.792-16.704-5.152-22.56 1.472l-21.088 23.968c-5.856 6.656-5.184 16.8 1.472 22.624l126.528 110.752a16.017 16.017 0 0 0 21.088 0L377.056 237.28c6.656-5.824 7.328-15.968 1.472-22.592zM416 416H64c-8.832 0-16 7.168-16 16v32c0 8.832 7.168 16 16 16h352c8.832 0 16-7.168 16-16v-32c0-8.832-7.168-16-16-16z"/>
                                                            </svg>                                            
                                                        </i>
                                                        MATERIAL DECLARATION &nbsp;<span class="fileext">(.PDF)</span>
                                                    </a>
                                        </div>
                                        <div class="part2">
                                                <a href="#" class="">
                                                    <i class="icon icon-st-download" role="presentation">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 480">
                                                            <path d="M378.528 214.688l-21.088-24c-5.824-6.624-15.904-7.264-22.56-1.472L272 244.32V16c0-8.832-7.168-16-16-16h-32c-8.832 0-16 7.168-16 16v228.32l-62.88-55.104c-6.624-5.792-16.704-5.152-22.56 1.472l-21.088 23.968c-5.856 6.656-5.184 16.8 1.472 22.624l126.528 110.752a16.017 16.017 0 0 0 21.088 0L377.056 237.28c6.656-5.824 7.328-15.968 1.472-22.592zM416 416H64c-8.832 0-16 7.168-16 16v32c0 8.832 7.168 16 16 16h352c8.832 0 16-7.168 16-16v-32c0-8.832-7.168-16-16-16z"/>
                                                        </svg>                                            
                                                    </i>
                                                    MATERIAL DECLARATION &nbsp;<span class="fileext">(.XML)</span>
                                                </a>
                                                </div>
                                    </div>
                        
                                    <div class="row mt-2">
                                                <div class="part1">
                                                <a href="#" class=" ">
                                                        <i class="icon icon-st-download" role="presentation">
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 480">
                                                                <path d="M378.528 214.688l-21.088-24c-5.824-6.624-15.904-7.264-22.56-1.472L272 244.32V16c0-8.832-7.168-16-16-16h-32c-8.832 0-16 7.168-16 16v228.32l-62.88-55.104c-6.624-5.792-16.704-5.152-22.56 1.472l-21.088 23.968c-5.856 6.656-5.184 16.8 1.472 22.624l126.528 110.752a16.017 16.017 0 0 0 21.088 0L377.056 237.28c6.656-5.824 7.328-15.968 1.472-22.592zM416 416H64c-8.832 0-16 7.168-16 16v32c0 8.832 7.168 16 16 16h352c8.832 0 16-7.168 16-16v-32c0-8.832-7.168-16-16-16z"/>
                                                            </svg>                                            
                                                        </i>
                                                        DOWNLOAD CIRCUIT DIAGRAM &nbsp;<span class="fileext">(.XML)</span>
                                                    </a>
                                                    </div>
                                                    <div class="part2">
                                                    <a href="#" class="">
                                                        <i class="icon icon-st-download" role="presentation">
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 480">
                                                                <path d="M378.528 214.688l-21.088-24c-5.824-6.624-15.904-7.264-22.56-1.472L272 244.32V16c0-8.832-7.168-16-16-16h-32c-8.832 0-16 7.168-16 16v228.32l-62.88-55.104c-6.624-5.792-16.704-5.152-22.56 1.472l-21.088 23.968c-5.856 6.656-5.184 16.8 1.472 22.624l126.528 110.752a16.017 16.017 0 0 0 21.088 0L377.056 237.28c6.656-5.824 7.328-15.968 1.472-22.592zM416 416H64c-8.832 0-16 7.168-16 16v32c0 8.832 7.168 16 16 16h352c8.832 0 16-7.168 16-16v-32c0-8.832-7.168-16-16-16z"/>
                                                            </svg>                                            
                                                        </i>
                                                        DATASHEET &nbsp;<span class="fileext">(.CSV)</span>
                                                    </a>
                                                    </div>
                                    </div>
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="stockSpecWidget">
                        <div class="cartBox">
                            <div class="stock clearfix">
                                <div class="totStock">Stock 13892</div>
                                <div class="quantitySpec clearfix">
                                    <div class="part1">QUANTITY <span>Minimum: 12</span></div>
                                    <div class="part2"><input type="text" value="22" /></div>
                                </div>
                            </div>
                            <div class="otherDetails">
                                <div class="rowDetails clearfix">
                                    <div class="col1">FREE SAMPLE <span>Maximum: 05</span></div>
                                    <div class="col2">$0.00</div>
                                </div>
                                <div class="rowDetails clearfix">
                                    <div class="col1">PROMOTIONAL OFFER</div>
                                    <div class="col2">$22.72</div>
                                </div>
                                <div class="rowDetails clearfix">
                                    <div class="col1">FREE SHIPPING</div>
                                    <div class="col2">$0.00</div>
                                </div>
                            </div>
                            <div class="totalPrice clearfix">
                                <div class="part1">TOTAL PRICE</div>
                                <div class="part2">$800.00</div>
                            </div>
                            <div class="addCart clearfix">
                                <div class="part2"><button class="btn st-btn-primary">ADD TO CART</button></div>
                              
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="features" id="features3"></div>
        <div class="productstabs" id="productstabs3"></div>
    </div>
    
<script>
jQuery('.quantitycarousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: false,
            navText: ["<img src='../icons/leftcar.png' width='8px' height='12px'>", "<img src='../icons/rightcar.png' width='8px' height='12px'>"],
            responsiveClass: true,
            responsive: {
                0: {
                    items: 2,
                    nav: true
                },
                600: {
                    items: 2,
                    nav: false
                },
                1000: {
                    items: 2,
                    nav: true,
                    loop: false
                }
            }
        })
</script>