
    <div class="product-detail-widget">
        <div class="row">
                <div class="col-12 col-sm-8">
                    <div class="productSpecWidget">
                        <div class="sticker">
                            <span class="freeSample"></span>
                        </div>
                        <div class="row">
                            <div class="col-4 col-sm-3">
                                <img src="../images/productImg.png" alt="" />
                                <div class="newproductlabel">NEW!</div>
                            </div>
                            <div class="col-8 col-sm-9">
                                <div class="productModel clearfix"><span class="heading">LM2903DT</span>
                                    <img src="../images/freesample.png" />
                                    <span class="productStatus"><span class="activeMark"></span>
                                    <span class="activeText">ACTIVE</span>
                                </div>
                                <div class="modelDesc">Low power dual voltage comprator</div>
                            </div>
                            <div class="col-12 col-sm-9 offset-sm-3 pusher">
                                <div class="packagingDesc row"><div class="packaging">PACKAGING: <span>SO-8</span></div><span class="separator">|</span> <div class="packagingType"> PACKAGING TYPE: <span>24/VQFN</span></div></div>
                                <div class="pricePerUnit">
                                         
                                                <div class="row">
                                                    <div class="col-2 col-sm-2">
                                                            <div class="">
                                                                    <span class="caption">QUANTITY:</span>
                                                            </div>
                                                            <div class="mt-2">
                                                                    <span class="caption">PRICE/UNIT:</span>
                                                            </div>
                                                    </div>
                                                    <div class="col-10 col-sm-10">
                                                            <div class="row">
                                                                    <div class="large-12 columns">
                                                                            <div class="quantitycarousel owl-carousel">
                                                                <div class="priceitem">
                                                                
                                                                        <div class="borderRight">
                                                                                <span class="quantityBox quantityBoxWidth">1-9</span>
                                                                        </div>
                                                                        <div class="borderRight">
                                                                                <span>$ 70.00</span>
                                                                        </div>
                                                                    
                                                                </div>
                                                                <div class="priceitem">

                                                                                <div class="borderRight">
                                                                                        <span class="quantityBox quantityBoxWidth">10-99</span>
                                                                                </div>
                                                                                <div class="borderRight">
                                                                                        <span>$ 68.56</span>
                                                                                </div>
                                                                            
                                                                    </div>
                                                                
                                                                    
                                                                        
                                                                    <div class="priceitem">
                                                                            
                                                                            <div class="borderRight">
                                                                                    <span class="quantityBox quantityBoxWidth">100-299</span>
                                                                            </div>
                                                                            <div class="borderRight">
                                                                                    <span>$ 63.94</span>
                                                                            </div>
                                                                        
                                                                </div>
                                                                        <div class="priceitem">
                                                                                
                                                                                        <div class="borderRight">
                                                                                                <span class="quantityBox quantityBoxWidth">300-499</span>
                                                                                        </div>
                                                                                        <div class="borderRight">
                                                                                                <span>$ 59.99</span>
                                                                                        </div>
                                                                                  
                                                                            </div>
                                                                            <div class="priceitem">
                                                                                
                                                                                        <div class="borderRight">
                                                                                                <span class="quantityBox quantityBoxWidth">300-499</span>
                                                                                        </div>
                                                                                        <div class="borderRight">
                                                                                                <span>$ 59.99</span>
                                                                                        </div>
                                                                                  
                                                                            </div>
                                                                            <div class="priceitem">
                                                                                    
                                                                                            <div class="">
                                                                                                    <span class="quantityBox quantityBoxWidth">500+</span>
                                                                                            </div>
                                                                                            <div class="">
                                                                                                   <a href="#" id="requestmodal2">REQUEST FOR QUOTATION</a></span>
                                                                                            </div>
                                                                                        
                                                                                </div>
                                                                                
                                                                    </div>
                                                                </div>
                                                                </div> 
                                                                <!-- <div class="row">
                                                                        <div class="col1"><span class="caption">QUANTITY:</span></div>
                                                                        <div class="col2 borderRight"><span class="quantityBox quantityBoxWidth">1-9</span></div>
                                                                        <div class="col3 borderRight"><span class="quantityBox quantityBoxWidth">10-99</span></div>
                                                                        <div class="col4 borderRight"><span class="quantityBox quantityBoxWidth">100-299</span></div>
                                                                        <div class="col5 borderRight"><span class="quantityBox quantityBoxWidth">300-499</span></div>
                                                                        <div class="col6"><span class="quantityBox quantityBoxWidth">500+</span></div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col1"><span class="caption">PRICE/UNIT:</span></div>
                                                                        <div class="col2 borderRight"><span>$ 70.00</span></div>
                                                                        <div class="col3 borderRight"><span>$ 68.56</span></div>
                                                                        <div class="col4 borderRight"><span>$ 63.94</span></div>
                                                                        <div class="col5 borderRight"><span>$ 59.99</span></div>
                                                                        <div class="col6"><span><a href="#">REQUEST FOR QUOTATION</a></span></div>
                                                                    </div> -->
                                                               
                                                        </div>
                                                    </div>
                                                </div>
                                           
                                    
                                <div class="downloadSectionHeading">
                                    Download Material
                                </div>
                                <div class="downloadSection">
                                    <div class="row">
                                        <div class="part1">
                                                <a href="#" class="">
                                                        <i class="icon icon-st-download" role="presentation">
                                                            <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 100 100">

                                                                <path d="M8 83.09h86v10.9H8zM63.02 45.41v-24.4H36.26v24.4H18.31L51 78.1l32.69-32.69H63.02z" class="cls-1"/>
                                                            </svg>
                                                                                                       
                                                        </i>
                                                        MATERIAL DECLARATION &nbsp;<span class="fileext">(.PDF)</span>
                                                    </a>
                                        </div>
                                        <div class="part2">
                                                <a href="#" class="">
                                                    <i class="icon icon-st-download" role="presentation">
                                                        <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 100 100">

                                                            <path d="M8 83.09h86v10.9H8zM63.02 45.41v-24.4H36.26v24.4H18.31L51 78.1l32.69-32.69H63.02z" class="cls-1"/>
                                                        </svg>
                                                                                                   
                                                    </i>
                                                    MATERIAL DECLARATION &nbsp;<span class="fileext">(.XML)</span>
                                                </a>
                                                </div>
                                    </div>
                        
                                    <div class="row mt-2">
                                                <div class="part1">
                                                <a href="#" class=" ">
                                                        <i class="icon icon-st-download" role="presentation">
                                                            <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 100 100">

                                                                <path d="M8 83.09h86v10.9H8zM63.02 45.41v-24.4H36.26v24.4H18.31L51 78.1l32.69-32.69H63.02z" class="cls-1"/>
                                                            </svg>
                                                                                                        
                                                        </i>
                                                        DOWNLOAD CIRCUIT DIAGRAM &nbsp;<span class="fileext">(.XML)</span>
                                                    </a>
                                                    </div>
                                                    <div class="part2">
                                                    <a href="#" class="">
                                                        <i class="icon icon-st-download" role="presentation">
                                                            <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 100 100">

                                                                <path d="M8 83.09h86v10.9H8zM63.02 45.41v-24.4H36.26v24.4H18.31L51 78.1l32.69-32.69H63.02z" class="cls-1"/>
                                                            </svg>
                                                                                                        
                                                        </i>
                                                        DATASHEET &nbsp;<span class="fileext">(.CSV)</span>
                                                    </a>
                                                    </div>
                                    </div>
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="stockSpecWidget">
                        <div class="cartBox">
                            <div class="stock clearfix">
                                <div class="totStock">Stock 13892</div>
                                <div class="quantitySpec clearfix">
                                    <div class="part1">QUANTITY <span>Minimum: 12</span></div>
                                    <div class="part2"><input type="text" value="22" /></div>
                                </div>
                            </div>
                            <div class="otherDetails">
                                <div class="rowDetails clearfix">
                                    <div class="col1">FREE SAMPLE <span>Maximum: 05</span></div>
                                    <div class="col2">$0.00</div>
                                </div>
                                <div class="rowDetails clearfix">
                                    <div class="col1">PROMOTIONAL OFFER</div>
                                    <div class="col2">$22.72</div>
                                </div>
                                <div class="rowDetails clearfix">
                                    <div class="col1">FREE SHIPPING</div>
                                    <div class="col2">$0.00</div>
                                </div>
                            </div>
                            <div class="totalPrice clearfix">
                                <div class="part1">TOTAL PRICE</div>
                                <div class="part2">$800.00</div>
                            </div>
                            <div class="addCart clearfix">
                                <div class="part2"><button class="btn st-btn-primary" id="samplemodalclick">ADD TO CART</button></div>
                                
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="features" id="features"></div>
        <div class="productstabs" id="productstabs"></div>
    </div>
    
<script>
jQuery('.quantitycarousel').owlCarousel({
            loop: true,
            margin: 5,
            nav: false,
            navText: ["<img src='../icons/carleft.png' width='8px' height='12px'>", "<img src='../icons/carright.png' width='8px' height='12px'>"],
            responsiveClass: true,
            responsive: {
                0: {
                    items: 2,
                    nav: true,
                    loop: false,
                    margin: 17
                },
                600: {
                    items: 2,
                    nav: false,
                    loop: false,
                    margin: 10
                },
                1023: {
                        items: 3 ,
                        nav: true,
                        loop: false,
                        slideBy:  4 ,
                        mouseDrag: false
                    },
                    1280: {
                        items:4 ,
                        nav: true,
                        loop: false,
                        margin: 5,
                        slideBy:  4 ,
                        mouseDrag: false
                    },
                    1300: {
                        items:5 ,
                        nav: true,
                        loop: false,
                        margin: 5,
                        slideBy:  4 ,
                        mouseDrag: false
                    }
            }
        })
</script>