<div class="container">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Library</li>
            </ol>
        </nav>
    </div>

    <div class="product-listing">
        <div class="row">
            <div class="col-sm-12">
                <h1>AMPLIFIERS AND COMPARATORS <span>(809 PRODUCTS)</span></h1>
            </div>
        </div>
        <div class="row productListing-holder">
            <div class="col-sm-4 sideBar">
                <div class="product-family">
                    <div class="heading">Product Family</div>
                    <div class="familySearch">
                        <input type="text" class="form-control" aria-describedby="">
                        <span class="searchIcon">&nbsp;</span>
                    </div>

                    <div class="allProcuctCat">All</div>

                    <!--Accordian Implementation-->
                    <ul class="productCat">
                        <li class="cat-item">Operational Amplifiers (734) <i class="icon icon-st-accordionPlus" role="presentation">&nbsp;</i></li>

                        <ul class="subCat">
                            <li class="subCat-item">Automotive Comparators (13)</li>
                            <li class="subCat-item">High-Speed Comparators (5)</li>
                            <li class="subCat-item">Low Power Comparators (27)</li>
                            <li class="subCat-item">Standard Comparators (17)</li>
                        </ul>

                        <li class="cat-item cat-itemSel">Comparators (62) <i class="icon icon-st-accordionPlus icon-st-accordionMinus" role="presentation">&nbsp;</i></li>

                        <ul class="subCat showSubCat" style="display:block;">
                            <li class="subCat-item">Automotive Comparators (13)</li>
                            <li class="subCat-item">High-Speed Comparators (5)</li>
                            <li class="subCat-item">Low Power Comparators (27)</li>
                            <li class="subCat-item">Standard Comparators (17)</li>
                        </ul>

                        <li class="cat-item">Current Sensing (8) <i class="icon icon-st-accordionPlus" role="presentation">&nbsp;</i></li>

                        <ul class="subCat">
                            <li class="subCat-item">Automotive Comparators (13)</li>
                            <li class="subCat-item">High-Speed Comparators (5)</li>
                            <li class="subCat-item">Low Power Comparators (27)</li>
                            <li class="subCat-item">Standard Comparators (17)</li>
                        </ul>

                        <li class="cat-item">Video Amplifiers (15) <i class="icon icon-st-accordionPlus" role="presentation">&nbsp;</i></li>

                        <ul class="subCat">
                            <li class="subCat-item">Automotive Comparators (13)</li>
                            <li class="subCat-item">High-Speed Comparators (5)</li>
                            <li class="subCat-item">Low Power Comparators (27)</li>
                            <li class="subCat-item">Standard Comparators (17)</li>
                        </ul>

                        <li class="cat-item">Power Operational Amplifiers (2) <i class="icon icon-st-accordionPlus" role="presentation">&nbsp;</i></li>

                        <ul class="subCat">
                            <li class="subCat-item">Automotive Comparators (13)</li>
                            <li class="subCat-item">High-Speed Comparators (5)</li>
                            <li class="subCat-item">Low Power Comparators (27)</li>
                            <li class="subCat-item">Standard Comparators (17)</li>
                        </ul>


                    </ul>


                </div>

                <div class="product-filter">
                    <div class="heading">Filters <a href="#">CLEAR</a></div>
                    <ul class="filterCat">
                        <li class="filterItem">Number of Channels (nom)</li>
                        <li class="filterItem">Technology</li>
                        <li class="filterItem">RDS(on) (mΩ) (typ)</li>
                        <li class="filterItem">Package</li>
                        <li class="filterItem">Supply Voltage (V) (min)</li>
                        <li class="filterItem">Supply Voltage (V) (max)</li>
                        <li class="filterItem">Absolute Max Supply Voltage (max)</li>
                        <li class="filterItem">Drain Current Limit (A) (typ)</li>
                        <li class="filterItem">RoHS Compliance Grade</li>
                        <li class="filterItem">Openload OFF State Voltage Detection Threshold (V) (min)</li>
                        <li class="filterItem">Supported Design Tools</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-8">

            </div>
        </div>
    </div>

</div>
