<div class="modal fade" id="quotemodal" tabindex="-1" role="dialog" aria-labelledby="shippingCalculate" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered st-modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header borderNone quoteheading">
                    <div class="modal-title st_heading branding padding-none">
                            Request for Quotation
                    </div>
                    <a class="close pull-right" data-dismiss="modal" aria-label="Close">
                        <i class="icon icon-delete" role="presentation">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 174.239 174.239" xml:space="preserve">
                                <g>
                                    <path d="M87.12,0C39.082,0,0,39.082,0,87.12s39.082,87.12,87.12,87.12s87.12-39.082,87.12-87.12S135.157,0,87.12,0z M87.12,159.305 		c-39.802,0-72.185-32.383-72.185-72.185S47.318,14.935,87.12,14.935s72.185,32.383,72.185,72.185S126.921,159.305,87.12,159.305z" />
                                    <path d="M120.83,53.414c-2.917-2.917-7.647-2.917-10.559,0L87.12,76.568L63.969,53.414c-2.917-2.917-7.642-2.917-10.559,0 		s-2.917,7.642,0,10.559l23.151,23.153L53.409,110.28c-2.917,2.917-2.917,7.642,0,10.559c1.458,1.458,3.369,2.188,5.28,2.188 		c1.911,0,3.824-0.729,5.28-2.188L87.12,97.686l23.151,23.153c1.458,1.458,3.369,2.188,5.28,2.188c1.911,0,3.821-0.729,5.28-2.188 		c2.917-2.917,2.917-7.642,0-10.559L97.679,87.127l23.151-23.153C123.747,61.057,123.747,56.331,120.83,53.414z" />
                                </g>
                                <g> </g>
                                <g> </g>
                                <g> </g>
                                <g> </g>
                                <g> </g>
                                <g> </g>
                                <g> </g>
                                <g> </g>
                                <g> </g>
                                <g> </g>
                                <g> </g>
                                <g> </g>
                                <g> </g>
                                <g> </g>
                                <g> </g>
                            </svg>
                        </i>
                    </a>
                </div>
                <div class="modal-body  padding-none">
    
                    <div class="addressModOpt">
                        
                        <form name="addressModification">
                                <div class="addCartModalBody">
                                        <div class="cartItemDetails">
                                            <div class="row">
                                                <div class="col-sm-2 text-right"><img src="../images/productImg.png" /></div>
                                                <div class="col-sm-5">
                                                    <div class="prodHeading">TS3021ILT</div>
                                                    <div class="prodDesc">Rall-to-rall 1.8 V high-speed comparator</div>
                                                </div>
                                                <div class="col-sm-2">
                                                    
                                                </div>
                                                <div class="col-sm-3 text-center">
                                                        <div class="quantity mt-4 ml-4">
                                                                <i class="icon icon-st-valueSubstract float-left" role="presentation">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                                        <path d="M256 0C114.853 0 0 114.833 0 256s114.853 256 256 256c141.167 0 256-114.833 256-256S397.147 0 256 0zm0 472.341c-119.295 0-216.341-97.046-216.341-216.341S136.705 39.659 256 39.659 472.341 136.705 472.341 256 375.295 472.341 256 472.341z"/>
                                                                        <path d="M355.148 234.386H156.852c-10.946 0-19.83 8.884-19.83 19.83s8.884 19.83 19.83 19.83h198.296c10.946 0 19.83-8.884 19.83-19.83s-8.884-19.83-19.83-19.83z"/>
                                                                    </svg>
                                                                </i>
                                                                <input type="text" class="quantityVal text-center" data-role="none" value="12" data-incDec="12" />
                                                                <i class="icon icon-st-valueAdd float-right" role="presentation">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                                        <path d="M256 0C114.833 0 0 114.833 0 256s114.833 256 256 256 256-114.853 256-256S397.167 0 256 0zm0 472.341c-119.275 0-216.341-97.046-216.341-216.341S136.725 39.659 256 39.659 472.341 136.705 472.341 256 375.295 472.341 256 472.341z"/>
                                                                        <path d="M355.148 234.386H275.83v-79.318c0-10.946-8.864-19.83-19.83-19.83s-19.83 8.884-19.83 19.83v79.318h-79.318c-10.966 0-19.83 8.884-19.83 19.83s8.864 19.83 19.83 19.83h79.318v79.318c0 10.946 8.864 19.83 19.83 19.83s19.83-8.884 19.83-19.83v-79.318h79.318c10.966 0 19.83-8.884 19.83-19.83s-8.864-19.83-19.83-19.83z"/>
                                                                    </svg>
                                                                </i>
                                                            </div>
                                                            <span class="prodDesc">Min.: 1000</span>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div> 
                                <div class="form-group row mt-4 ">
                                    <div class="col-sm-5 quotecommentblock">
                                            <span  class="quotelabel">Reason for this quote request </span><sup>*</sup>
                                    </div>
                                        <div class="col-sm-7 quotecommentblock">
                                                <textarea class="form-control" aria-label="With textarea"></textarea>
                                                <span class="minvalid float-right">Min. 100 characters</span>
                                            </div>
                                         
                                    </div>
                            <div class="applyBtn">
                                <button type="button" class="btn st-btn-primary-2">CONFIRM</button>
                            </div>
                        </form>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
    