<div class="container">

    <div class="row top_space">


        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-3 moblieview">
                    <div class="st_heading branding">
                        <span>Recently<strong> Viewed</strong></span>
                        <div class="hr_brand"></div>


                    </div>
                </div>
                <div class="col-sm-9">
                    <a href="#">
                        <span class="recentviewall float-right">VIEW ALL 
                            <i class="icon icon-st-viewarrow " role="presentation">
                                <svg version="1.1" id="Capa_1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" 	 viewBox="0 0 31.49 31.49" style="enable-background:new 0 0 31.49 31.49;" xml:space="preserve"> <path  d="M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111 	C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587 	c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z"/> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>
                            </i>
                        </span>
                    </a>
                    <div class="large-12 columns">
                        <div class="recentcarousel owl-carousel owl-theme">

                            <div class="productPlaceHolder">

                                <div class="productSpec">

                                    <div class="stickerHolder">

                                        <!-- <span class="sticker new float-left"></span> -->

                                    </div>
                                    <div class="productHolder"><img src="../images/p-1-copy.png" class="img-fluid" /></div>
                                    <div class="productName">BAT54AWFILMY</div>
                                    <div class="productDetails">Automotive small signal Schottky diodes</div>

                                </div>
                                <div class="priceSpec clearfix">
                                    <div class="price"><span>$0.40 - $10.00</span></div>
                                </div>

                                <div class="purchaseSpec clearfix">
                                    <div class="instock float-left">Stock 12367</div>
                                    <div class="buy float-left "><button type="submit" class="btn st-btn-primary">BUY </button></div>
                                </div>
                            </div>



                            <div class="productPlaceHolder">

                                <div class="productSpec">
                                    <div class="stickerHolder">
                                        <span class="sticker freeSample float-left"></span>
                                        <!-- <span class="sticker new float-left"></span> -->

                                    </div>
                                    <div class="productHolder"><img src="../images/p-1-copy.png" class="img-fluid" /></div>
                                    <div class="productName">BAT54AWFILMY</div>
                                    <div class="productDetails">Automotive small signal Schottky diodes</div>

                                </div>
                                <div class="priceSpec clearfix">
                                    <div class="price"><span>$0.40 - $10.00</span></div>
                                </div>

                                <div class="purchaseSpec clearfix">
                                    <div class="instock float-left">Stock 12367</div>
                                    <div class="buy float-left"><button type="submit" class="btn st-btn-primary">BUY </button></div>
                                </div>
                            </div>

                            <div class="productPlaceHolder">

                                <div class="productSpec">
                                    <div class="stickerHolder">

                                        <!-- <span class="sticker new float-left"></span> -->

                                    </div>
                                    <div class="productHolder"><img src="../images/p-1-copy.png" class="img-fluid" /></div>
                                    <div class="productName">BAT54AWFILMY</div>
                                    <div class="productDetails">Automotive small signal Schottky diodes</div>

                                </div>
                                <div class="priceSpec clearfix">
                                    <div class="price"><span>$0.40 - $10.00</span></div>
                                </div>

                                <div class="purchaseSpec clearfix">
                                    <div class="instock float-left">Stock 12367</div>
                                    <div class="buy float-left"><button type="submit" class="btn st-btn-primary">BUY </button></div>
                                </div>
                            </div>

                            <div class="productPlaceHolder">
                                <div class="productSpec">
                                    <div class="productHolder"><img src="../images/p-1-copy.png" class="img-fluid" /></div>
                                    <div class="productName">BAT54AWFILMY</div>
                                    <div class="productDetails">Automotive small signal Schottky diodes</div>
                                </div>
                                <div class="priceSpec clearfix">
                                    <div class="bulk float-left"></div>
                                </div>

                                <div class="purchaseSpec clearfix">
                                    <div class="view"><button type="submit" class="btn view">VIEW PRODUCTS(50)</button></div>
                                </div>
                            </div>

                            <div class="productPlaceHolder">

                                <div class="productSpec">
                                    <div class="stickerHolder">

                                        <span class="sticker freeSample float-left"></span>

                                    </div>
                                    <div class="productHolder"><img src="../images/p-1-copy.png" class="img-fluid" /></div>
                                    <div class="productName">BAT54AWFILMY</div>
                                    <div class="productDetails">Automotive small signal Schottky diodes</div>

                                </div>
                                <div class="priceSpec clearfix">
                                    <div class="price"><span>$0.40 - $10.00</span></div>
                                </div>

                                <div class="purchaseSpec clearfix">
                                    <div class="instock float-left">Stock 12367</div>
                                    <div class="buy float-left"><button type="submit" class="btn st-btn-primary">BUY </button></div>
                                </div>
                            </div>

                            <div class="productPlaceHolder">

                                <div class="productSpec">
                                    <div class="stickerHolder">

                                        <span class="sticker freeSample float-left"></span>

                                    </div>
                                    <div class="productHolder"><img src="../images/p-1-copy.png" class="img-fluid" /></div>
                                    <div class="productName">BAT54AWFILMY</div>
                                    <div class="productDetails">Automotive small signal Schottky diodes</div>

                                </div>
                                <div class="priceSpec clearfix">
                                    <div class="price"><span>$0.40 - $10.00</span></div>
                                </div>

                                <div class="purchaseSpec clearfix">
                                    <div class="instock float-left">Stock 12367</div>
                                    <div class="buy float-left"><button type="submit" class="btn st-btn-primary">BUY </button></div>
                                </div>
                            </div>


                        </div>
                    </div>


                </div>
            </div>

        </div>

    </div>


</div>