<div class="modal fade" id="samplemodal" tabindex="-1" role="dialog" aria-labelledby="newcartmodal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered st-modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header quoteheading border-0">
                    <div class="modal-title st_heading branding padding-none">
                            Select your purpose of order

                    </div>
                   
                </div>
                <div class="modal-body  padding-none">
    
                        <div class="shippingAddSel2 border-0">
                   
                                <form action="#" method="post" autocomplete="off" class="addressList b2bpayment clearfix">
                                    <div class="row">
                                        <div class="col-sm-6">
                                                <div class="custom-control custom-radio selected">
                                                        <input type="radio" class="custom-control-input" id="address1" name="address" checked>
                                                        <label class="custom-control-label radiobtn  topPos smaple selected" for="address1">
                                                            <div class="row">
                                                                <div class="col-sm-3">
                                                            
                                                                        <img src="../images/industrial-robot.png" class="radioimg sampleimg img-fluid" />
                                                        </div> 
                                                        
                                                            <div class="col-sm-7">
                                                            <p class="shippingdescription1 mt-4">Production</p>
                                                            
                                                            </div>
                                                            
                                                            
                                                            </div>
                                                            </label>
                                                    </div>
                                        </div>
                                        <div class="col-sm-6">
                                                <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="address2" name="address">
                                                        <label class="custom-control-label radiobtn topPos smaple" for="address2">
                                                                <div class="row">
                                                                        <div class="col-sm-3">
                                                                                <img src="../images/analysis.png" class="radioimg sampleimg img-fluid" />
                                                                </div> 
                                                                
                                                                    <div class="col-sm-7">
                                                                    <p class="shippingdescription1 mt-4">Sample</p>
                                                                    
                                                                    </div>
                                                                    
                                                                    </div>
                                                        </label>
                                                    </div>
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="poactionsection">
                                        <button class="pobtn float-right">CONTINUE</button>
                                    </div>
                                </form>
                            </div>
                    
                </div>
            </div>
        </div>
    </div>
    
    