<div class="modal fade" id="shippingaddresseditmodal" tabindex="-1" role="dialog" aria-labelledby="updateaddressModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered st-modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header border border-top-0 border-left-0 border-right-0">
                    <div class="modal-title st_heading branding padding-none borderBtm ">
                            Shipping Address
                    </div>
                    <a class="close pull-right" data-dismiss="modal" aria-label="Close">
                        <i class="icon icon-delete" role="presentation">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 174.239 174.239" xml:space="preserve">
                                <g>
                                    <path d="M87.12,0C39.082,0,0,39.082,0,87.12s39.082,87.12,87.12,87.12s87.12-39.082,87.12-87.12S135.157,0,87.12,0z M87.12,159.305 		c-39.802,0-72.185-32.383-72.185-72.185S47.318,14.935,87.12,14.935s72.185,32.383,72.185,72.185S126.921,159.305,87.12,159.305z" />
                                    <path d="M120.83,53.414c-2.917-2.917-7.647-2.917-10.559,0L87.12,76.568L63.969,53.414c-2.917-2.917-7.642-2.917-10.559,0 		s-2.917,7.642,0,10.559l23.151,23.153L53.409,110.28c-2.917,2.917-2.917,7.642,0,10.559c1.458,1.458,3.369,2.188,5.28,2.188 		c1.911,0,3.824-0.729,5.28-2.188L87.12,97.686l23.151,23.153c1.458,1.458,3.369,2.188,5.28,2.188c1.911,0,3.821-0.729,5.28-2.188 		c2.917-2.917,2.917-7.642,0-10.559L97.679,87.127l23.151-23.153C123.747,61.057,123.747,56.331,120.83,53.414z" />
                                </g>
                                <g> </g>
                                <g> </g>
                                <g> </g>
                                <g> </g>
                                <g> </g>
                                <g> </g>
                                <g> </g>
                                <g> </g>
                                <g> </g>
                                <g> </g>
                                <g> </g>
                                <g> </g>
                                <g> </g>
                                <g> </g>
                                <g> </g>
                            </svg>
                        </i>
                    </a>
                </div>
                    <div class="modal-body  padding-none">
                           
                            <div class="addressModOpt">
                                  
                                    <form name="addressModification">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                    <div class="form-row">
                                                            <div class="form-group col-md-12">
                                                                <label for="addressLine1">ADDRESS LINE 1<sup>*</sup></label>
                                                                <input type="text" class="form-control" placeholder="ADDRESS LINE 1" id="addressLine1" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="form-group col-md-12">
                                                                <br>
                                                                <input type="text" class="form-control" placeholder="ADDRESS LINE 2" id="addressLine2">
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                                <div class="form-group col-md-12">
                                                                    <label for="addressLine2">City<sup>*</sup></label>
                                                                    <input type="text" class="form-control" placeholder="Enter City " id="addressLine2">
                                                                </div>
                                                            </div>
                                                <div class="form-row">
                                                        <div class="form-group col-md-6 ">
                                                                <label for="zipostal">Zip/Postal Code<sup>*</sup></label>
                                                                <input type="text" class="form-control" placeholder="Enter ZIP Code " id="zipostal">
                                                            </div> 
                                                </div>
                                                <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                                <label for="inputState">Country<sup>*</sup></label>
                                                                <select id="inputState" class="form-control">
                                                                    <option selected>Choose...</option>
                                                                    <option>...</option>
                                                                </select>
                                                            </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                    <div class="addressviewblock">
                                                            <div class="addressviewer">
                                                                <div class="addressheading">
                                                                    <i class="icon-st-addrinfo icon" role="presentation">
                                                                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                                                            <g>
                                                                                <g>
                                                                                    <path d="M256,0C114.497,0,0,114.507,0,256c0,141.503,114.507,256,256,256c141.503,0,256-114.507,256-256 			C512,114.497,397.493,0,256,0z M256,472c-119.393,0-216-96.615-216-216c0-119.393,96.615-216,216-216 			c119.393,0,216,96.615,216,216C472,375.393,375.385,472,256,472z" />
                                                                                </g>
                                                                            </g>
                                                                            <g>
                                                                                <g>
                                                                                    <path d="M256,128.877c-11.046,0-20,8.954-20,20V277.67c0,11.046,8.954,20,20,20s20-8.954,20-20V148.877 			C276,137.831,267.046,128.877,256,128.877z" />
                                                                                </g>
                                                                            </g>
                                                                            <g>
                                                                                <g>
                                                                                    <circle cx="256" cy="349.16" r="27" />
                                                                                </g>
                                                                            </g>
                                                                            <g> </g>
                                                                            <g> </g>
                                                                            <g> </g>
                                                                            <g> </g>
                                                                            <g> </g>
                                                                            <g> </g>
                                                                            <g> </g>
                                                                            <g> </g>
                                                                            <g> </g>
                                                                            <g> </g>
                                                                            <g> </g>
                                                                            <g> </g>
                                                                            <g> </g>
                                                                            <g> </g>
                                                                            <g> </g>
                                                                        </svg> </i>
                                                                    Problem found with the address,
                                                                    is this address correct?
                                                                    <a class="close pull-right">
                                                                        <i class="icon icon-delete" role="presentation">
                                                                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 174.239 174.239" xml:space="preserve">
                                                                                <g>
                                                                                    <path d="M87.12,0C39.082,0,0,39.082,0,87.12s39.082,87.12,87.12,87.12s87.12-39.082,87.12-87.12S135.157,0,87.12,0z M87.12,159.305 		c-39.802,0-72.185-32.383-72.185-72.185S47.318,14.935,87.12,14.935s72.185,32.383,72.185,72.185S126.921,159.305,87.12,159.305z" />
                                                                                    <path d="M120.83,53.414c-2.917-2.917-7.647-2.917-10.559,0L87.12,76.568L63.969,53.414c-2.917-2.917-7.642-2.917-10.559,0 		s-2.917,7.642,0,10.559l23.151,23.153L53.409,110.28c-2.917,2.917-2.917,7.642,0,10.559c1.458,1.458,3.369,2.188,5.28,2.188 		c1.911,0,3.824-0.729,5.28-2.188L87.12,97.686l23.151,23.153c1.458,1.458,3.369,2.188,5.28,2.188c1.911,0,3.821-0.729,5.28-2.188 		c2.917-2.917,2.917-7.642,0-10.559L97.679,87.127l23.151-23.153C123.747,61.057,123.747,56.331,120.83,53.414z" />
                                                                                </g>
                                                                                <g> </g>
                                                                                <g> </g>
                                                                                <g> </g>
                                                                                <g> </g>
                                                                                <g> </g>
                                                                                <g> </g>
                                                                                <g> </g>
                                                                                <g> </g>
                                                                                <g> </g>
                                                                                <g> </g>
                                                                                <g> </g>
                                                                                <g> </g>
                                                                                <g> </g>
                                                                                <g> </g>
                                                                                <g> </g>
                                                                            </svg>
                                                                        </i>
                                                                    </a>
                                                                </div>
                            
                                                                <div class="addressinfo">
                                                                    <span>200 N Martingale Rd,</span><br>
                                                                    <span>Schaumburg, IL 60173, USA</span>
                                                                </div>
                                                                <div class="addressconform">
                                                                    <a href="#" class="no">NO</a>
                                                                    <a href="#" class="save">YES</a>
                                                                </div>
                                                                <span class="addtriangle">
                                                                    <i class="icon-st-addressarrow icon" role="presentation">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="38px" height="44px">
                                                                            <path fill-rule="evenodd" stroke-width="5px" stroke="rgba(185, 196, 202, 0.5)" fill="rgb(255, 255, 255)" d="M29.189,35.270 C28.268,34.748 10.863,24.203 9.292,23.301 C8.260,22.709 8.278,21.296 9.292,20.703 C10.423,20.042 27.898,9.443 29.236,8.707 " /> </svg>
                                                                    </i>
                                                                </span>
                                                            </div>
                                                            <div class="addressnote">
                                                                <span><span class="pleasenote">Please Note: </span>Inaccurate addresses may result in undeliverable packages or delay</span>
                                                            </div>
                                                        </div>
                                                </div>
                                        </div>
                                            
                                        <div class="applyBtn">
                                                <button type="button" class="btn st-btn-primary">Cancel</button>
                                            <button type="button" class="btn st-btn-primary-1">Save</button>
                                        </div>
                                    </form>
            
                                </div>
                    </div>
            </div>
        </div>
    </div>
    