<div class="modal fade" id="stuserModal" tabindex="-1" role="dialog" aria-labelledby="notifyModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered st-modal-md stmodal" role="document">
            <div class="modal-content">
                <div class="modal-header  padding-none">
                    <div class="modal-title st_heading branding padding-none">
                            Select for whom you are placing this order 
                    </div>
                    
                </div>
                <form autocomplete="off">
                    <div class="modal-body  padding-none">
                        <div class="row">
                            <div class="col-12 col-md-8 mobView ">
    
                                <div class="form-group">
                                   <select name="" id="" class="form-control stselect">
                                        <option selected>Apple Store SG 23849532</option>
                                        <option>abc</option>
                                        <option>def</option>
                                        <option>ghi</option>
                                   </select>
                                        
                                      
                                </div>
                            </div>
                            <div class="col-12 col-md-3 mobView ">
                                <div class="form-group">
                                    
                                    <button type="button" class="btn stcont st-btn-primary-1" data-dismiss="modal">CONTINUE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    